<% if(errors && errors.length > 0) { %>
  <!-- Se o array 'errors' não estiver vazio, execute este bloco -->
  <div class="row">
    <div class="col my-3">
      <div class="alert alert-danger">
        <% errors.forEach(erro => { %>
          <%= erro %> <br>
        <% }); %>
      </div>
    </div>
  </div>
<% } %>